body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.content {
    display: flex;
}

main {
    flex: 1;
    padding: 20px;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
}

/* Estilo general para los botones */
button {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 0; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    cursor: pointer; /* Cambiar el cursor a mano */
    transition: background-color 0.3s; /* Transición suave */
    width: 100%; /* Hacer que los botones ocupen todo el ancho disponible */
    font-size: 16px; /* Tamaño de fuente */
}

/* Efecto hover para los botones */
button:hover {
    background-color: #45a049; /* Color de fondo al pasar el ratón */
}
h2{
    text-align: center;
    width:auto;
    height:auto ;
}
img{
    justify-content: center;
}